body {
  padding: 80px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(255, 60, 0);
}

form.form {
  display: table;
}

div.form {
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 20px;
}
